%clearfix {
    &::after,
    &::before {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin fira($style: 'regilar') {
	@if $style == 'regular' {
		font-family: 'FiraSans-Regular';
	} @else if $style == 'bold'{
		font-family: 'FiraSans-Bold';
	} @else if $style == 'medium'{
		font-family: 'FiraSans-Medium';
	} @else if $style == 'light'{
		font-family: 'FiraSans-Light';
	}
}

 @mixin box_shadow($shadow) {
 		-webkit-box-shadow: $shadow;
		-moz-box-shadow: $shadow; 	
 		box-shadow: $shadow;	
 }

 @mixin border_radius($radius) {
 		-webkit-border-radius: $radius;
		-moz-border-radius: $radius; 	
 		border-radius: $radius;	
 } 

 @mixin transition($transition) {
 		-webkit-transition: $transition;
		-moz-transition: $transition; 	
 		transition: $transition;	
 } 

 @mixin transform($transform) {
 		-webkit-transform: $transform;
		-moz-transform: $transform; 
		-ms-transform: $transform;
		-o-transform: $transform;					
 		transform: $transform;	
 }  


 /*@include border_radius();*/
 /*@include transition();*/
 /*@include transform();*/