html {
    height: 100%;
    width: 100%;
}

body {
    @include fira(); 
    font-size: 16px;
    line-height: 1.4;
    font-weight: normal;
    color: #414141;
    height: 100%;
    width: 100%;   
    background: #f6f6f6; 
}

* {
    margin: 0;
    padding: 0;    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

h1 {
    padding:0;
    margin:0;    
    @include fira('bold');     
    font-size: 35px;
}

h2 {
    margin:3px 17px 14px 16px;    
    @include fira('bold');     
    padding:0;
    font-size: 35px;
}

a { text-decoration: none;}

ul {
    padding: 0;
    margin: 0;
}

ul li { list-style: none;}

img {width: 100%;}


.wrapper {
    position: relative;    
    padding-bottom: 56px;
    min-height: 100%;
    overflow: hidden;
    @extend %clearfix;
}



.container {
    max-width:960px;
    width: 95%;
    margin: 0 auto;
}

.main {
    float:left;
    width: 78%;    
}


.browsehappy { 
    text-align:center;

    a {
        font-weight: bold;
        text-decoration: underline;        
    }
}

