@media print{
  .head, .side, .nav, .footer{
    display: none;
  }
  .content{
    width: 100%;
  }
}



@media screen and (min-width: 1200px){

  .aside {
    clear:both;
    width: 23.9%;

  }  
}

@media screen and (max-width: 992px){

  .aside {
    clear:both;
    width: 100%;
    text-align: center;    

    li {
      display: inline-block;
      float:left;
      border-right: 0px; 
      
      &.active {
          border-right: 0px;
      } 

    }    
  }

  .main {
    width: 100%;
  }

  .my-photo {
    width: 32%;
  }

  .my-info {
     width: 68%;   
  }
}

@media screen and (max-width: 768px){
  h1 {
    text-align: center;
  }

  .my-photo {
    clear:both;
    width: 100%
  }

  .my-info {
      width: 100%;
  } 

  .footer-left,
  .footer-right {
    width: 100%;
    clear: both;
    text-align:center;
  }

  .wrapper__download-resume {
    text-align: center;
  }

  .download-resume {
    margin: 0px 12px 20px 0; 
  }

  .text-info {
    height: 278px;
    margin: 0px 0px 20px 0;    
  }

  /*career*/

  .career-year,
  .career-block::after,
  .career-block::before {
    display: none;
  }

  .photo-content,
  .list-content {
    width: 100%;
  }

  .career-block {
    text-align: center;
  }


  /*portfolio*/
  .portfolio-wrapper {
    text-align:center;
  }

}

@media screen and (max-width: 480px){
  .container{
    width: 95%;
  }

  .nav i {
    display: none;
  }

}


