@media print {
  .head, .side, .nav, .footer {
    display: none;
  }
  .content {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 940px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 480;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 95%;
  }
}
