
.my-photo {
	float:left;	
    width: 46.4%;
}

.my-photo-box {
    width: 228px;
    height: 228px;
    margin: 0 auto;
    margin-top: 7px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;   
    border-radius: 50%;
    overflow: hidden;	
    border: 3px solid $color_white;    	
}


.my-info {
	float:left;
    width: 53.6%;
	text-align: justify;
}

.text-info {
	overflow-y: auto;
	height: 330px;
}

.wrapper__download-resume {
    text-align:right;
}	


.download-resume {
   
    margin: 45px 12px 0 0;
    padding: 7px 11px; 
    display: inline-block;
    @include transition(all .3s);       
    @include fira('medium');		
    color: $color_red;
    border: 2px solid $color_red;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;   
    border-radius: 30px;
   

	&:hover {
		background-color: $color_red;
		color: #fff;
	}     
 
}

