.photo-content {
	float:left;
	width: 35%;
	margin-bottom: 20px;

}

.photo-content__wrapper {
	margin: 0 auto;
	width: 220px;
	height: 220px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;        
	border-radius: 10px;
	overflow: hidden;
}

.list-content {
	float:left;
	width: 65%;

	li {
		text-align: right;

		&:last-child .career-text:after,
		&:first-child .career-text:before {opacity: 0;}		
	}	
}


.career-block {
	position: relative;
	margin-bottom: 18px;

	&:hover .career-text{
		background: $color_blue;	
		color: $color_white;	
	}	

	&:hover .career-year {
		color: $color_blue;	
		font-weight: bold;
	}	



	&:hover .career-year:after {
		border-color: $color_blue;
		border: 5px solid lighten($color_blue, 30%);	
	}




}

.career-text {
	display: inline-block;
	text-align: left;
	margin: 0px 10px;
	padding: 14px 18px;
	width: 80.4%;
	color: $color_grey;
	position: relative;
	background: #fff;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;        
	border-radius: 9px;
	@include box_shadow(0 1px 3px rgba(0, 0, 0, 0.2)); 
	transition: all .3s; 
	@include fira('regular');


	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		background: #dedede;
		left: -20.2px;		
		top: 0;
		bottom: 50%;
	}

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 1px;
		background: #dedede;
		left: -20.2px;			
		bottom: -22px;
		top: 50%;
	}	



}

.career-text_title {
	font-size: 23px;
	padding: 0;
	margin: 0;
	line-height: 1.3em;
}	

.career-text_job,
.career-text_time {
	padding: 0;
	margin: 0;
	line-height: 1.3em;		
	font-size: 20px;
} 

.career-year {
	width: 20%;
	position: absolute;
	top: 42%;
	right: 100%;
	transition: all .3s;

	span {
		position: absolute;
		right: 43.9%;
		font-size: 0.9rem;
	}	

	&::after {
		content: '';
		display: block;
		width: 10px;
		height: 10px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;        
		border-radius: 50%;
		background: $color_blue;
		border: 5px solid $color_white;
		position: absolute;
    top: 0px;
    right: 9.1px;
		z-index:100;
		@include transition(all .3s); 
	}	 
}



