.footer {
	background-color: $color_grey;
	padding: 9.1px 0;
	margin-top: -41px;
	position: relative;
	color: #fff;
	@extend %clearfix;

}

.footer-left {
	position: relative;	
	float: left;
	width: 70%;
	line-height: 2.3em;	
}

.footer-right {
	position: relative;	
	float: right;
	width: 30%;
	text-align: right;
	padding-right: 8px;
}

.social {
	margin: 0;
	padding: 0;
}

.social__li {
	display: inline-block;
	width: 31px;
	height: 30px;
	background-size: 100%;
	background-repeat: no-repeat;	
	background-image: url(../img/icons/social.png);
	overflow:hidden;
	margin-right: 3px;
}	

.social__li_a {
	display: block;
	text-indent: 15px;
}			

.footer-right .facebook {
	background-position: 0 0;	

	&:hover {background-position: 0 -30px;};
}

.footer-right .twitter {
	background-position: 0 -60px;

	&:hover {background-position: 0 -90px;}	
}

.footer-right .vk {
	background-position: 0 -120px;

	&:hover {background-position: 0 -150px;}		
}
