.login__wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(../img/bg/bg.jpg);

	&:before {
		content: '';
		display:inline-block;
		height: 100%;	
		vertical-align: middle;				
	}
}

.login {
	position: relative;
	display:inline-block;
	width: 299px;
	text-align: center;
	vertical-align: middle;	
	@include transform(scale(0)); 	
	@include transition(all 0.5s cubic-bezier(.17,.67,.64,1.29));
	opacity: 0;
}





.login__top {
	margin-top: 79px;	
	min-height: 152px;
	background-color: #FFF;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;   
  border-radius: 10px 10px 0 0;  	

}

.login__top_name {
	padding: 83px 30px 10px;
	font-size: 21.9px;
	font-family: 'FiraSans-Regular';
	@include fira('regular');
}

.login__bottom {
	height: 77px;
	background-color: $color_blue;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;   
  border-radius: 0 0 10px 10px; 	
	vertical-align:middle;
	overflow:hidden;		
}

.login__top_photo {
	position: absolute;
	width: 140px;
	height: 140px;
	top:0px;
	left:50%;
	margin-left:-70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;   
  border-radius: 50%;  	
	background-color: #ccc;	
	border:2px solid #ccc;
	overflow:hidden;
	@include transform(scale(0));	
	@include transition(all 0.5s cubic-bezier(.17,.67,.64,1.29) 0.5s);
}

.login__bottom_button {
	margin: 20px 0 0 0;
	color: #fff;
	font-size: 14px;
	padding: 8px 13px 8px;
	border: 2px solid #fff;
	display: inline-block;
	@include fira('bold');	
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;   
  border-radius: 30px;  		
	overflow:hidden;
	@include transition(all .3s);	  	

	&:hover {
		color: $color_blue;
		background-color: #fff;

	}

}

.login__active {
	opacity: 1;
	@include transform(scale(1)); 

	.login__top_photo {
		@include transform(scale(1)); 			
	} 

}

