.about-me {
	width: 100%;
}

.my-photo {
	float:left;	
	width: 46%;
}

.my-photo div {
	width: 65.3%;
	margin: 0 auto;
	margin-top: 10px;
}

.my-photo img {
	width: 100%;
	border-radius: 50%;
}

.my-info {
	float:right;
	width: 54%;
}

.my-info .text-info {
	overflow-y: auto;
	height: 330px;
}

.download-resume {
    font-family: 'FiraSans-Bold', sans-serif;
    color: #e85f61;
    border: 2px solid #e85f61;
    border-radius: 30px;
    margin: 60px 12px 0 0;
    padding: 7px 13px;
    display: inline-block;
    float: right;
    -webkit-transition: all .3s; 
    -o-transition: all .3s;      
    transition: all .3s;    
}

.download-resume:hover {
	background-color: #e85f61;
	color: #fff;
} 