.header {
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 19px;
}

.header>.container {
  height: 80px;
  position: relative;
}

.user-header-info {
	width: 50%;
	float: left;
}

.user-photo {
  display: inline-block;
  vertical-align: middle;	
}

.user-photo img {
  -webkit-border-radius: 50%;  
  -moz-border-radius: 50%;   
	border-radius: 50%;
	border: 2px solid #c1c1c1;
  margin: 7px 0 0 7px;
  width: 65px;
  height: 65px;
}

.user-name {
  display: inline-block;
  vertical-align: middle;
  width: 77%;
  font-size: 18px;
  margin-left: 4px;
}

.contacts-header {
	height:100%;
	width: 50%;
	float: right;
  display:table;

}

.contacts-info {
    height: 100%;
    float: right;
    width: 128px;
    margin-right: 2%;
    padding-top: 28.1px;
    position: relative;
}

.contacts-info>a  {
  font-family: 'FiraSans-Bold', sans-serif;  
  position: relative;
  float:right;
  color: #33c1e3;
  text-decoration: none;
  font-size: 18px;	
}

.contacts-info>a:hover {
  color: #e85f61;  
}

.contacts-info>a::after {
  content: '';
  position: absolute;
  width: 103%;
  height: 4px;
  background: url(../../img/decor/dotted.png) 0 bottom repeat-x;
  right: 0px;
  bottom: -3px;
}

.contacts-info a:hover::after {
  background: url(../../img/decor/dotted-hover.png) 0 bottom repeat-x;
}

.contacts-info:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    top: 43px;
}


.triangle {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 20px;
}

.triangle::after, .triangle::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-width: 0px;
    top: 0px;
    position: absolute;
    left: 0;
    transform: translate(-50%);
}

.triangle::before {
    border-bottom-color: #dedede;
}

.triangle::after {
    border-bottom-color: #fff;
    margin-top: 1px;
}

.contacts-dropdown {
  padding: 15px 20px;
  border-radius: 10px;
  position: absolute;
  top: 105%;
  left: 50%;
  -webkit-transform: -webkit-translateX(-50%) -webkit-translateY(16%);   
  -webkit-transform: translateX(-50%) translateY(16%);  
  transform: translateX(-50%) translateY(16%);
  z-index: 1000;
  margin-top: 12px;
  background: #fff;
  border: 1px solid #dedede; 
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;        
  transition: all 1s ease;  
  visibility: hidden;
  opacity: 0;
  }

  .contacts-info:hover .contacts-dropdown {
    -webkit-transform: -webkit-translateX(-50%) -webkit-translateY(0%); 
    -webkit-transform: translateX(-50%) translateY(0%);     
    transform: translateX(-50%) translateY(0%); 
    visibility: visible;
    opacity: 1;     
  } 

  .contacts-dropdown  ul {
    padding:0;
    margin: 0;
  }

  .contacts-dropdown li a {
    white-space: nowrap;
    font-size: 18px;
    line-height: 2em;
    font-family: 'FiraSans-Light', sans-serif;;
    color: #414141;
    text-align: left;
    display: block;
  }

  .contacts-dropdown li a i {
    margin-right: 10px;
    color: #33c1e3;
  }