.portfolio-list li {
    display: inline-block;
    width: 219px;
    min-height: 278px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 17px;
    overflow: hidden;
}

.portfolio-photo {
	width: 100%;
	height: 172px;
	background-image: url(../../img/content/banner/banner_01.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.portfolio-description {
    padding: 17px 19px 7px;
}

.portfolio-description h3 {
    color: #33c1e3;
    font-weight: normal;    
}

.portfolio-description p:first-child {
    color: #414141;
}

.portfolio-description p {
    color: #727272;
    margin-bottom: 8px;
}

// .portfolio-photo h3 {
// 		color: #33c1e3;
//     font-size: 21px;
//     line-height: 1.2em;
// }

// .portfolio-photo p {
// 	color: #aeaeae;
//     line-height: 1.2em;	
// }
