.aside {
  float: left;
  width: 23.7%;
  padding-top: 6px;
}

.aside a {
  color: #414141;
  font-size: 18px;
  padding-right: 24px;
  line-height: 42px;
  transition: all .3s;
}

.aside a li {
  text-align: right;
  height: 45px;
  border-right: 6px solid transparent;
}

.aside a li:hover a {
  color: #33c1e3;
}

.aside a li.active a {
  color: #33c1e3;
  border-right: 6px solid #33c1e3;
}
